{% load static %}
{% load i18n %}
<footer>
    <div class="only-footer">
        <div class="cnt">
            <div class="row foot-flex">
                {% if company_information.count %}
                <div class="col col-auto">
                    <div class="footer-item">
                        <h4>{% trans 'Contact Us' %}</h4>
                        <div class="items-all">
                            <ul>
                                {% for comp_info in company_information %}
                                <li>
                                    <a href="{% if comp_info.url %}{{ comp_info.url }}{% else %}javascript:void(0){% endif %}">{{ comp_info.name }}<br>{{ comp_info.text|safe }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for foot_cat in footer_categories %}
                <div class="col col-auto">
                    <div class="footer-item">
                        <h4>{{ foot_cat.name }}</h4>
                        <div class="items-all">
                            <ul>
                                {% for item in foot_cat.footeritems_set.all %}
                                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col col-auto rii">
                    <div class="footer-item">
                        <h4>{% trans 'Follow Us' %}</h4>
                        <div class="items-all">
                            <ul class="soc-icons d-flex">
                                {% for follow_icon in footer_follow_icons %}
                                <li class="mb-ric">
                                    <a href="{{ follow_icon.url }}" target="_blank">
                                        <img src="{{ follow_icon.icon.url }}" alt="{{ follow_icon.name }}">
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <p class="f-txt">{% blocktrans %}Select your Ideal wedding look at Peri Bridals collection!{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bot text-center">
            <div class="logo-create">
                <img src="{% static 'img/logo-foot.svg' %}" class="dl-none" alt="Peri Bridal">
                <p>© {{ year }} {% blocktrans %}Peri Bridals Wedding Salon || All Rights Reserved.{% endblocktrans %}<br>{% trans 'Design and Development by:' %} <a
                        href="#">"GIOS" LLC</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<div id="cookie_pridals" class="flex-center-between">
    <p class="cookie-msg">{% trans 'By continuing your browsing on this site, you agree to the use of cookies to improve your user experience and to make statistics of visits.' %}
        <a href="#">{% trans 'Privacy Policy' %}</a></p>
    <div class="cookie_butss">
        <button type="button" id="agreeCookie" class="chemical-butt">{% trans 'OK' %}</button>
    </div>
</div>